@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,h2{
  font-weight: 700;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}

  
  .cursor {
    background-color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
  }

  .links::before{
    content: "Go";
    color: #111;
    position: relative;
    left: 8px;
    top: 8px;
  }

  .links__es::before{
    content: "Ir";
    color: #111;
    position: relative;
    left: 15px;
    top: 8px;
  }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
